{% extends "index.html" %}

{% block content %}


<link rel="stylesheet" href="{{url_for('static', filename = 'css/weather.css')}}">
	<div class="card mb-3">
	  <div class="card-body">
	    <h5 class="card-title">Card title</h5>
	    <p class="card-text">Минск – наиболее экономически развитый город Беларуси. В Минске проживает 1 млн 982,4 тыс. человек, и численность населения постоянно увеличивается.</p>
	  </div>
	</div>
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item">Сегодня в минске {{minsk_cloud}}</li>
	    <li class="list-group-item">Температура {{minsk_temp}}</li>
	    <li class="list-group-item">Время в минске {{minsk_time}}</li>
	  </ul>

<form method="POST" class="weather_form">
	
	{{ form.hidden_tag() }}
	 <div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    {{ form.city_name() }}
  </div>
	<input type="submit" class="btn btn-dark">

	
</form>
<div>
	{% if city %}
	<h1>Вот прогноз погоды на сегодня в {{ city }}</h1>
	<p>сегодня в городе {{ w }}</p>
	{% else %}
	<h1>Введети свой город</h1>
	{% endif %}
</div>
</div>
<script src="{{url_for('static', filename = 'js/weather.js')}}" ></script>

{% endblock %}
